@using PizzaShop.Models.Entities
@using PizzaShop.Models.Entities.Enums

@model Order

<h1 class="m-5">Edit order</h1>

<form method="post" asp-action="View" class="mt-5">
    <div class="mb-3">
        <label asp-for="Id" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="mb-3">
        <label asp-for="CustomerNavigation.CustomerName" class="form-label"></label>
        <input type="text" class="form-control" asp-for="CustomerNavigation.CustomerName">
        <span asp-validation-for="CustomerNavigation.CustomerName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CustomerNavigation.Address" class="form-label"></label>
        <input type="text" class="form-control" asp-for="CustomerNavigation.Address">
        <span asp-validation-for="CustomerNavigation.Address" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CustomerNavigation.Phone" class="form-label"></label>
        <input type="text" class="form-control" asp-for="CustomerNavigation.Phone">
        <span asp-validation-for="CustomerNavigation.Phone" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CustomerNavigation.Email" class="form-label"></label>
        <input type="text" class="form-control" asp-for="CustomerNavigation.Email">
        <span asp-validation-for="CustomerNavigation.Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PizzaNavigation.PizzaType" class="form-label"></label>
        <select asp-for="PizzaNavigation.PizzaType" class="form-control" asp-items="Html.GetEnumSelectList<PizzaEnum>()">
        </select>
        <span asp-validation-for="PizzaNavigation.PizzaType" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PizzaNavigation.PizzaCrust" class="form-label"></label>
        <select asp-for="PizzaNavigation.PizzaCrust" class="form-control" asp-items="Html.GetEnumSelectList<PizzaCrustEnum>()">
        </select>
        <span asp-validation-for="PizzaNavigation.PizzaCrust" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PizzaNavigation.PizzaSize" class="form-label"></label>
        <select asp-for="PizzaNavigation.PizzaSize" class="form-control" asp-items="Html.GetEnumSelectList<PizzaSizeEnum>()">
        </select>
        <span asp-validation-for="PizzaNavigation.PizzaSize" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AdditionalOrderInfo" class="form-label">Additional information</label>
        <input type="text" class="form-control" asp-for="AdditionalOrderInfo">
        <span asp-validation-for="AdditionalOrderInfo" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    
    <button type="submit" class="btn btn-danger"
            asp-action="Delete" asp-controller="PizzaOrder">Delete</button>
</form>